# 7.1.2 comapt for vendor libs
# System file accesses.
allow domain system_file:dir r_dir_perms;
allow domain system_file:file r_file_perms;
allow domain system_file:lnk_file r_file_perms;
