# allow conatiner platform apps including trustme service, screen
# to talk to cml-control, cml-services sockets
allow platform_app cmld_socket:sock_file { read write };
allow platform_app init:unix_stream_socket connectto;

