# allow system_server to use trustme-com as server (sensors) and client
allow system_server trustme-com:dir rw_dir_perms;
allow system_server trustme-com:sock_file { create rw_file_perms };
