# allow system_server to use trustme-com as client
allow system_server trustme-com:dir r_dir_perms;
allow system_server trustme-com:sock_file rw_file_perms;
